
body{
    
}

.header{
    height: 1rem;
    background: #FF9900;
    color: #fff;
    text-align: center;
    position: relative;
}
.header span{
    display: inline-block;
    line-height: 1rem;
    font-size: 0.4rem;
}



.box{
    padding: 0 .5rem;
  
    background: #fff;
}

.box .am-list-item{
  
}