

.shopDetail .head_detail .am-navbar-light{
    background: #FF9900;
    color: #fff !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;

}
.shopDetail .head_detail .am-navbar-light .am-navbar-title{
    color: #fff !important;

}
.shopDetail {
    position: relative;
    margin-top: .9rem;
}
.shopDetail .content{
    
    margin-top: 0.8rem;

}
.shopDetail .content .first_tu{  position: relative;}
.shopDetail .content .first_tu img{
    width: 100%;
    height: 5.5rem;
}

.shopDetail .content .first_tu .txt{
  
    padding: 0.3rem 0.4rem 0;
    box-shadow: 0.03rem 0.2rem 10px #ccc;
}
.shopDetail .content .first_tu .txt h3{
    font-size: 0.4rem;
    line-height: 1rem;
}
.shopDetail .content .first_tu .txt .center_txt{
   

}
.shopDetail .content .first_tu .txt .center_txt i{
    color: #ff0000;
    font-size: .3rem;
}
.shopDetail .content .first_tu .txt .center_txt span{
    display: inline-block;
    border: 1px solid #ffaa00;
    width: 1rem;
    line-height: .5rem;
    text-align: center;
    border-radius: .1rem;
    margin-left: 0.2rem;
    color: #ffaa00;
}
.shopDetail .content .first_tu .txt .bottom{
    text-decoration: line-through;
    color: #666;
    line-height: .4rem;
    padding-bottom: 0.2rem;
}

.shopDetail .content .first_tu .collect {
    border-left: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    right: .5rem;
    top: 5.8rem;
    text-align: center;
}
.shopDetail .content .first_tu .collect img{
    width: 0.4rem;
    height: 0.35rem;
}
.shopDetail .content .first_tu .collect p{
    color: #ff0000;
    line-height: .5rem;
}

.shopDetail .advertising {
    margin: 0.6rem 0 .8rem 0;
}

.shopDetail .shopcart{
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    /* border-top: #000 0.01rem solid ; */
}
.shopDetail .shopcart span{
    display: block;
    line-height: 1.1rem;
    float: right;
    background: #ffaa00;
    color: #fff;
    padding: 0 .6rem;
    font-size: 0.3rem;
}

.shopDetail .addCate{}
.shopDetail .addCate .door{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}
.shopDetail .addCate .box_shop{
    background: #fff;
    width: 100%;
    z-index: 9999;
    /* height: 500px; */
    position: fixed;
    left: 0;
    bottom: 0;
}
/* 弹出来的框 */
.shopDetail .addCate .box_shop{
    padding: .4rem .4rem 0 .4rem;
}
.shopDetail .addCate .box_shop .top{
display: flex;
}
.shopDetail .addCate .box_shop .top .left{}
.shopDetail .addCate .box_shop .top .left img{
    width: 2.7rem;
    border-radius: .2rem;
}
.shopDetail .addCate .box_shop .top .right{
    font-size: .4rem;
    margin-left: .5rem;
    line-height: 1rem;
}
.shopDetail .addCate .box_shop .top .right i{}
.shopDetail .addCate .box_shop .h2{
    font-weight: bold;
    font-size: .5rem;
    line-height: 1.3rem;
}
.shopDetail .addCate .box_shop .tag{
    padding: 0.5rem 0rem;
}
.shopDetail .addCate .box_shop .tag .am-tag{
    margin-left: 0.3rem;
    line-height: 0.8rem;
    height: 0.8rem;
    padding: 0 .4rem;
    font-size: .3rem;
    
}
.shopDetail .addCate .box_shop .tag  .am-tag-normal{

}
.shopDetail .addCate .box_shop .tag .am-tag-active{


}
.shopDetail .addCate .box_shop .addShop{
    text-align: center;
    margin-bottom: .4rem;
}
.shopDetail .addCate .box_shop .addShop span{
    display: inline-block;
    background: #ffaa00;
    color: #fff;
    line-height: 1rem;
    padding: 0 .6rem;
    margin-right: .5rem;
}